@model CFG.Web.Models.CFGVisualizationModel 

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <ol>
        @foreach (var f in Model.Figuras)
        {
            <li>@f</li>
        }
    </ol>
</div>
